* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #445876;
    background-color: #eeeef7;
}

/* last name and section header font size */

h1 {
    font-size: 30pt;
}

/* header styles */

header {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    background-color: #92ccce;
    color: #31353d;
    display: inline;
    padding-left: 10px;
    margin-left: 20px;
    padding-right: 10px;
    text-align: center;
    transition: all ease .2s;
    border-radius: 5px;
}

header a {
    text-decoration: none;
    color: #92ccce;
    transition: all ease .2s;
    transition: ;
}

header a :hover {
    color: white;
    background-color: transparent;
    transition: all ease .2s;
}

header nav {
    float: right;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 5px;
    border-bottom: 3px solid;
    border-color: #92ccce;
    padding: 10px 8px 4px 8px;
    display: inline-block;
}

header nav ul li :hover {
    background-color: #92ccce;
    transition: all ease .2s;
    color: #31353d;
    border-radius: 5px;
}

/* hero section styles */
.hero {
    background-color: black;
    background-image: url("../images/hero\ 2.png");
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.cool-subtitle {
    font-size: xx-large;
    font-weight: bold;
    background-color: transparent;
    color: yellow;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 70px;
}

/* end hero section style */

/* about section style */

.section-header h1 {
    width:10%;
    text-align: center;
  
    padding-right: ;
    left: 0;
}


.section-header {
    display: flex;
    flex: auto;
    padding: 10px 10px 10px 10px;
    

    
    
  
}

.column {
    float: left;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: %;
  }

#about-me {
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    margin-left: 20px;
    text-align: center;
    

}

#about-me article {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 100px;
    text-align: left;
   
    
}

/* about section style end */


/* work box container styles */


#work {
    background-image: url(../images/final-screenshot.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    padding-bottom: 420px;
    background-position: center;
    padding-left: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    padding-left: 20px;

}






/* .run-buddy {
    
    background-image: url("../images/run\ buddy\ screen.png");
    height: 560px;
    width: 100%;
    background-size: cover;
    background-position: top;
    position: relative;
    justify-content: space-around
} */

/* .led {
    background-image: url("../images/LED-Wall-Benefits.png"); */
    /* width: 50%;
    height: 50%;
    background-size: contain;
    background-position: center;
    position: relative;
    padding: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
}

/* .minor {
    width: 50%;
    height: 50%;
    background-size: contain;
    background-position: center;
    position: relative;
    padding: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */


 /* .calculator {
    background-image: url("../images/calculator.jpg"); */
    /*width: 50%;
    height: 50%;
    background-size: contain;
    background-position: center;
    position: relative;
    padding: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
} 

    /* .surf {
    background-image: url("../images/surf.jpg"); */
 /*   width: 50%;
    height: 50%;
    background-size: contain;
    background-position: center;
    position: relative;
    padding: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    size:50%; */
} 

    /* .pastel {
    background-image: url("../images/pastel.png"); */
  /*  width: 50%;
    height: 50%;
    padding: 20px 0 20px 0;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    fit */
} 

#movie-mate a {
    background-color: #92ccce;
    display: inline-block;
    text-decoration: none;
    color: black;
    bottom: 100px;

}

#movie-mate { 
    text-align: center;
}

.sub-container h2, p {
    background-color: #92ccce;
    display: block;
    
    position: relative;
    bottom: -200px;
    padding: 0 5px 0 5px;
    text-decoration: none;
    

}

/* end work box container style */

/* contact section style */

#contact-me {
    display: flex;
    
    
    justify-content: space-between;
    flex-wrap: wrap;
}

#contact-me ul li {
    margin: 0 20px;
    border-bottom: 3px solid;
    border-color: #31353d;
    padding: 10px 10px 4px 10px;
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
}

#contact-me a {
    text-decoration: none;
    color: black;
}

#contact-me li:hover {
    border: transparent;
    transition: all ease .2s;
}

/* end content section style */